@{

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Basic</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter first name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter last name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter email address" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter phone no." />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter address" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter dob" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Enter caller name" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>